* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body, html {
  height: 100%;
}

.hero-section {
  background-image: url("Photos/VRBO_APFT2_BARCELONA_THERIN_HOUSE_2_4605_1 (1).jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px;
  width: 100%;
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.search-bar {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 15px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.search-field {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px 15px;
  flex: 1;
}

.search-field input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
  padding-left: 10px;
  width: 100%;
}

.icon {
  font-size: 1.2rem;
}

.seek-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seek-btn:hover {
  background-color: #0056b3;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Open Sans', sans-serif;
}

.logo img{
    width: 100px;
    height: 100px;
}

.nav-links {
  display: flex;
  gap: 25px;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  color: #1c1c1c;
  font-weight: 500;
}

.btn-download {
  border: 1px solid #ddd;
  padding: 8px 14px;
  border-radius: 30px;
  background-color: transparent;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

